@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?e06f31a85921738637353bbaf47f435d") format("truetype"),
url("./flaticon.woff?e06f31a85921738637353bbaf47f435d") format("woff"),
url("./flaticon.woff2?e06f31a85921738637353bbaf47f435d") format("woff2"),
url("./flaticon.eot?e06f31a85921738637353bbaf47f435d#iefix") format("embedded-opentype"),
url("./flaticon.svg?e06f31a85921738637353bbaf47f435d#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-left-chevron:before {
    content: "\f101";
}
.flaticon-play-button:before {
    content: "\f102";
}
.flaticon-link:before {
    content: "\f103";
}
.flaticon-pencil:before {
    content: "\f104";
}
.flaticon-layers:before {
    content: "\f105";
}
.flaticon-black-settings-button:before {
    content: "\f106";
}
.flaticon-open-file-button:before {
    content: "\f107";
}
.flaticon-loupe:before {
    content: "\f108";
}
.flaticon-right-chevron:before {
    content: "\f109";
}
.flaticon-friends:before {
    content: "\f10a";
}
.flaticon-coffee-cup:before {
    content: "\f10b";
}
.flaticon-chat-comment-oval-speech-bubble-with-text-lines:before {
    content: "\f10c";
}
.flaticon-heart:before {
    content: "\f10d";
}
.flaticon-dinner:before {
    content: "\f10e";
}
